<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['Estudios']">Estudios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="Experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="Trabajos">Trabajos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="SobreMi">Sobre Mi</a>
        </li>
      </ul>
    </div>
  </nav>
 